"PointCloudProc" : {
  "#id" : 1,
  "name" : "point_cloud_proc",
  "push_sinks" : [  ],
  "target_clouds_after_decimation" : 999,
  "clouds_to_skip" : 0,
  "iter_num" : 10,
  "robustifier_huber_chi" : 0.1,
  "beam_divergence_deg" : 0.15,

  "add_one_odom_factor" : 1,
  "max_dst_DA": 0.5,
  "max_dst_norm_DA": 1.0,
  "max_angle_DA" : 5.0,

  // Informational only for PCD+TUM mode
  "odom_topic" : "/pcd_folder_odom"
 }
